# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/