version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: zoo_db2
      POSTGRES_USER: zoo_user
      POSTGRES_PASSWORD: zoo_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: zoo_user
      DB_PASSWORD:  zoo_pass
      DB_NAME: zoo_db2
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres-data: 